.goods-block{
    margin: 80px 0;
}
.goods-card{
    min-height: 350px;
    background: #fff;
    text-align: center;
    font-size: 18px;
    margin: 0 0 35px 0;

}
.goods-card img{
    margin-top: 30px;
}

.goods-card .goods-name{
    font-weight: bold;
}
.goods-card .cost{
    color:#ff7013;

}
.sidebar-block{
    margin:0 1.25% 30px 1.25%; 
    width: 97.5%;
    background: #fff;
    padding: 20px 0;
    
}
.sidebar-block a{
    color:#43525d;
    text-decoration: none;
    
}
.sidebar-block ul li{
    list-style-type:none;
    margin:15px 0;
}
.active-square::before{
    content:"";
    display: inline-block;
    width: 5px;
    height: 5px;
    border:4px solid #ff7013;
    margin-right: 10px;
}
.inactive-square::before{
    content:"";
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 10px;
    background: #e1e7eb;
}
.sidebar-block h3{
    font-size: 18px;
    color:#ff7013;
}
/* -----------------double-slider */
.double-slider {
    position: relative;
    min-height: 80px;
}

.double-slider .line-1 {
    height: 2px;
    background: #edf0f2;
    position: absolute;
    top: 60px;
    left: 20px;
    right: 20px;
}

.double-slider .line-2 {
    height: 2px;
    background: #34404b;
    position: absolute;
    top: 60px;
    left: 40px;
    right: 40px;
}

.double-slider .left-dot, .double-slider .right-dot{
    width: 40px;
    height: 40px;
    position: absolute;
    text-align: center;
}

.double-slider .dot {
    width: 12px;
    height: 12px;
    background: #34404b;
    border-radius: 100%;
    margin: 5px auto;
}

.double-slider .right-dot {
    right: 24px;
    top: 31px;
}

.double-slider .left-dot {
    left: 24px;
    top: 31px;
}

.slider-from-to {
    margin: 20px;
}

.slider-from-to input {
    width: 50px;
    margin-left: 20px;
}
/* --------------single-goods */
.single-goods{
    background:#f4f4f8;
    padding: 30px 0;

}
.single-goods::after{
    content:"";
    display: block;
    clear:both;
}
.single-goods-left{
    float:left;
    width: 37.5%;
    margin: 0 1.25%;
    text-align: center;
}
.single-goods-right{
    float:right;
    width: 57.5%;
    margin: 0 1.25%;
}
.goods-img-max{
    padding: 40px;
    max-height: 320px;
}
.goods-img-max img{
    max-width: 60%;
}
.goods-img-min div{
    width: 94px;
    height: 68px;
    overflow: hidden;
    background: #f4f4f8;
    display: inline-block;
    line-height: 100px;
    cursor:pointer;
}
.goods-img-min img{
    max-width: 100%;
}
.goods-img-min div.active{
    background:#ff5912;
}
.single-good-card h1{
    color:#ff5912;
    font-size: 52px;

}
.single-good-card .min-desc{
    font-size: 18px;
    margin-left: 30px;
    color:#34404b
}
.single-good-card .full-desc{
    font-size: 16px;
    margin: 30px 0;
    line-height: 30px;
}
.choose-size::after{
    content:"";
    display: block;
    clear:both;
}

.choose-size{
    font-size: 18px;
    padding: 40px 0;
    border-top:1px solid #d9dbdd;
    border-bottom:1px solid #d9dbdd;
}
.choose-size span.active{
color:#ff5912;
font-weight:bold;
}
.choose-size .left{
    width: 50%;
    float:left;
    text-align: left;
}
.choose-size .right{
    width: 50%;
    float:left;
    text-align: right;
}
.choose-size button{
    background: 0;
    border:0;
    color:#34404b;
    font-size: 18px;
}

.order{
    padding: 30px 0 ;
}
.order .cost{
    margin: 10px;
    font-size: 25px;
}
.order button.join-us{
    border-radius: 50px;
    top: -5px;
}

/* -----mobile 768- */
@media  screen and (max-width:768px) {
    .sidebar-block{
        margin:0;
        width: auto;
    }
    .sidebar-block h3{
        margin-top: 40px;
    }
}